//----------------------------------------------------------------------------------------
// MacOS
//----------------------------------------------------------------------------------------
**/*.DS_Store

//----------------------------------------------------------------------------------------
// Outpu
//----------------------------------------------------------------------------------------
**/output/